* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-style: italic;
	letter-spacing: 2px;
	background-color: rgb(124, 5, 31);

	/* background-color: rgb(108, 5, 27); */
	/* mam zamiar zrobić zmienne w CSS dla kolorów */
}

header {
	padding: 50px 0;
	text-align: center;
}

h1 {
	padding: 10px;
	color: rgb(176, 72, 4);

}


header h2 {
	margin: 20px;
	color: rgb(247, 154, 154);
	text-align: center;
}

main {
	position: relative;
}

article {
	max-width: 45%;
	margin: 20px 20px;
	padding: 0 30px;

	line-height: 35px;

}

article ul {
	list-style: square;
	font-size: 35px;
	color: rgba(34, 7, 7, 0.696);
	font-family: 'Smooch', cursive;
	word-spacing: 20px;

}

article h2 {
	margin: 20px 0;
	color: rgb(249, 192, 192);
}

article h3 {
	color: rgb(235, 235, 235);
}

article.allTask {
	position: absolute;
	left: 0;
	top: 0;
}

article.completedTasks {
	position: absolute;
	right: 0;
	top: 0;
}

button {
	padding: 3px 6px;
	margin: 0 20px;
	color: rgb(40, 3, 11);
	background-color: rgb(176, 72, 4);
	font-style: italic;
	border-radius: 20px;
	transition: .3s;
}



input,
button:hover {
	font-style: italic;
	color: rgb(236, 21, 21);
	background-color: rgb(40, 3, 11);
}